.plot-and-search {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.plot-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  width: 70vw;
}

.main-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgb(131, 171, 163), rgb(114, 227, 255));
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  flex-direction: row;
}

.plot {
  background-color: white;
  opacity: 0.9;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),
                0 32px 64px rgba(0,0,0,0.07);
}

.name-select {
  width: 15vw;
  padding: 0 1rem 0 0 ;
}
.data-select {
  width: 15vw;
  padding: 0 ;
}

.clear-icon {
  cursor: pointer;
  margin-right: 1rem;;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
}

